@import url(http://fonts.googleapis.com/css?family=Lobster|Rokkitt:400,700);

body{
	margin: 0 auto;
	padding: 0;
    font-family: 'Rokkitt', serif;
	font-size: 16px;
	color: #555;
	text-align:center;
	background:#FFF url(images/bg.jpg) repeat top left;
}

h1{
	font-family: 'Lobster', serif;
	font-size: 70px;
	margin: 5px 0;
}

h2{
	font-size: 30px;
	font-weight: bold;
	margin: 20px 0 10px 0;
}

h3{
	
}

p{
	color: #555;
	margin: 10px auto;
}

.clear{
	clear:both;
}

#wrapper{
	width: 1050px;
	margin: 0 auto;
	padding: 40px 0;
}

#header{
	
}

#footer{
	
}

a, a:visited{
	color:#777;
	text-decoration: none;
}

a:hover{
	color:#F00;
	text-decoration:underline;
}

img{
	border: 0;
}


ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

li{
	margin-left: 50px;
}

form
{
	margin: 0;
	padding: 0;
}


/* nav */

#nav{
	margin: 20px 0 0 0;
	text-align: center;
	width:360px;
	float:right;
}

#nav li{
	
}

#nav li a{
	display:inline-block;
	padding: 4px 10px;
	font-size: 16px;
	color: #222;
	float:left;
	width:100px;
}

#nav li a:hover{
	text-decoration: none;
	color:#fff;
	border-radius:20px;
	background:#222;
}

#main{
	text-align: left;
	padding: 20px 10px;
}

#main form{
	font-size: 20px;
}

#main label{
	font-weight: bold;
	width: 180px;
	float: left;
	padding: 5px 10px;
	text-align: right;
}

#main span{
	font-size: 13px;
}

#main input{
	width: 200px;
	height: 23px;
	float: left;
	margin-top: 5px;
	border-radius: 5px;
	border: solid 1px #ccc;
}

#main select{
	width: 200px;
	margin: 7px 0;
	font-family: 'Rokkitt', serif;
}

#main .button{
	font-family: 'Rokkitt', serif;
	font-size: 20px;
	width: 400px;
	height: 40px;
	background: #333;
	color: #CCC;
	border-radius: 5px;
	border: none;
}

#main .button:hover{
	padding-top: 6px;
	cursor: pointer;
}

#going-to{
	text-align: center;
}

.going-to-logo{
	margin-bottom: 10px;
}

.going-to-url{
	font-weight: bold;
	font-size: 20px;
}

#new_where{
	margin-left: 50px;
}